@tailwind base;
@tailwind components;
@tailwind utilities;

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
}
